<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Drowsiness Alert System</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css')}}">
  </head>

  <body>
      <div class="header">
        <div class="header-logo">Drowsiness Alert System</div>
        <div class="header-list">
          <ul>
            <li><a href = "{{ url_for('home') }}">Home</a></li>
            <li><a href = "{{ url_for('alert_system') }}">Alert System</a></li> <!-- lick here to go to drowsiness alert system -->
            <li>Driving Tips</li>
          </ul>
        </div>
      </div>

<body>

<center><b><p style="font-family:'Courier New'"><font color = "red" size = "5" > ABOUT 21% OF TOTAL CARACCIDENTS ARE CAUSED DUE TO DROWSINESS OF DRIVERS! LETS NOT INCREASE THIS STATUS<br>

<h1>Try our drowsiness alert system to monitor your drowsiness to ensure safety!</font></b></center>

<center><h2><font color="blue" size = "5"> <u> Here are some tips you are advised to follow while driving</u> </font></h2>
</center>

<br>
<br>

<ol><font color = "purple" size = "4">
    <li>FIRST RULE WEAR YOUR SEATBELTS</li>
    <li>CONCENTRATE ALL THE TIME ON YOUR DRIVING TO AVOID ACCIDENTS</li>
    <li>INTERPRET THE TRAFFIC SITUATION CORRECTLY BEFORE YOU ACT</li>
    <li>EXERCISE PATIENCE AND 'HANG BACK' WHEN NECESSARY</li>
</font></ol>


<center>

<b> <font style="background-color:Pink;"size="6">FOCUS ON THE ROAD</b></font>

</center>

<p><font color="darkblue" size="4"> Keep 100% of your attention on driving at all times 
<br>Avoid multi-tasking<br>Don’t use your phone or any other electronic device while driving.<br></p>
<Br>

<center>

<b><font color = "black" font style="background-color:Pink;"size="6">DEFENSE DRIVING</b></font>

</center>

<p><font color="darkblue" size="4">Be aware of what other drivers around you are doing, and expect the unexpected.<br>
Assume other motorists will do something crazy, and always be prepared to avoid it.<br>
Keep a 2-second cushion between you and the car in front of you.<br>Make that 4 seconds if the weather is bad.<br>Slow down. Speeding gives
you less time to react and increases the severity of an accident.</p>

<center>
<br>

<b><font color = "black" font style="background-color:Pink;"size="6">PRACTICE SAFETY</b></font>
</center>

<p><font color="darkblue" size="4">Don’t attempt to retrieve items that fall to the floor.<br>
Have items needed within easy reach – such as toll fees, toll cards and garage passes.<br>
Always wear your seat belt and drive sober and drug-free.<br></p>
<br>
<ol>
    <li>Don't allow children to fight or climb around in your car – they should be buckled in their seats at all times.</li>
    <li>Too much noise can easily distract you from focus on the road.</li>
    <li>Avoid driving when you're tired. Be aware that some medications cause drowsiness and make operating a vehicle very dangerous.</li>
    <li>Always use caution when changing lanes. Cutting in front of someone, changing lanes too fast or not using your signals may cause an accident or upset other drivers.<br>
Be extra careful while driving during deer season.</li>
</ol>
<br>



</body>
</html>