<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Drowsiness Alert System</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css')}}">
  </head>

  <body>
      <div class="header">
        <div class="header-logo">Drowsiness Alert System</div>
        <div class="header-list">
          <ul>
            <li>Home</li>
            <li><a href = "{{ url_for('alert_system') }}">Alert System</a></li> <!-- lick here to go to drowsiness alert system -->
            <li><a href = "{{ url_for('driving_tips') }}">Driving Tips</a></li>
          </ul>
        </div>
      </div>

      <div class="main" style="background-image: url('static/img/carfront.png'); background-size: cover">
        <div class="copy-container">
          <h1>Ready to drive?</h1>
          <h2>Don't forget to wear your seatbelts!</h2>
        </div>
      </div>

      <div class="footer">
        <div class="footer-logo">Drowsiness Alert System</div>
        <div class="footer-list">
          <ul>
            <li>Home</li>
            <li>Alert System </li>
            <li>Driving tips </li>
          </ul>
        </div>
      </div>
  </body>
</html>



